

services:
  mongo:
    image: mongo:6
    container_name: dd-mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - mean-network

  backend:
    build: ./backend
    container_name: dd-backend
    restart: always
    expose:
      - "8080"
    environment:
      - MONGO_URI=mongodb://mongo:27017/dddb
    depends_on:
      - mongo
    networks:
      - mean-network

  frontend:
    build: ./frontend
    container_name: dd-frontend
    restart: always
    expose:
      - "80"
    depends_on:
      - backend
    networks:
      - mean-network

  nginx:
    image: nginx:alpine
    container_name: dd-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    networks:
      - mean-network

volumes:
  mongo-data:

networks:
  mean-network:
    driver: bridge